---
title: phonegap template
body_class: index
---

.container.main-container{:role => "container"}
  %div.events-list{ role: 'events-list'}
  %h1 Header
  %p content

.container-fluid.container.grid-items-container
  .row.grid-items{ role: "grid-items"}

.grid-item-block{ role: 'grid-item-thumb'}
